#{extends 'Layouts/darwin-control-panel-layout.html' /}
#{set 'title'} &{'Topologies.index.title'} (${totalTopologies}) #{/set}
#{set 'moreStyles'}
<link rel="stylesheet" href="/public/javascripts/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">

    #{stylesheet 'topologies.css' /}
#{/set}
<h1>&{'Topologies.index.title'}</h1>
<div class="row form-group">
  <div class="col-md-4">
  #{if request.querystring.contains("indexMode=" + controllers.Topologies.INDEX_MODE_MY_TOPOLOGIES)}
    <a id="topologies-a-list" href="@{Topologies.index(null, null, 0)}" class="btn btn-blue width-100">&{'Topologies.index.title'}</a>
  #{/if}
  #{else }
    <a id="topologies-a-my" href="@{Topologies.index(controllers.Topologies.INDEX_MODE_MY_TOPOLOGIES, null, 0)}"
       class="btn btn-blue width-100">&{'Topologies.index.btn.my'}</a>
  #{/else}
  </div>
  <div class="col-md-4">
    <a id="topologies-a-add" href="@{Drawers.index()}" class="btn btn-ok width-100">&{'Topologies.index.btn.new'}</a>
  </div>
  <div class="col-md-4">
    <a id="topologies-a-import" href="@{Topologies.importTopology()}" class="btn-tab btn btn-default width-100">&{'Topologies.index.btn.import'}</a>
  </div>
</div>

#{if topologies.size() > 0 || flash.get("searching")}
<div id="form-search" class="row non-h-padding">
  <div class="col-lg-12">
     <div class="panel panel-default">
      <div class="panel-body">
        #{form @Topologies.search(), method:'GET', id:'search-topology', class:'form-horizontal'}
          <div class="form-group">
            <!-- TOPOLOGY'S STATUS -->
            <label for="status" class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label">&{'Topologies.form.status'}</label>
            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
            #{select 'status', class:'form-control', id:'status', value:flash.get("status")}
                #{option ''}#{/option}
                #{option 'active'}&{'Topologies.form.status.active'}#{/option}
                #{option 'deleted'}&{'Topologies.form.status.deleted'}#{/option}
                #{option 'running'}&{'Topologies.form.status.running'}#{/option}
                #{option 'stopped'}&{'Topologies.form.status.stopped'}#{/option}
            #{/select}
            </div>
                          <!-- TOPOLOGY'S QUERY -->
            <label for="query"
              class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label">&{'Topologies.form.query'}</label>
            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" id="query" name="query"
                value="${params.get("query")}" placeholder="&{'Topologies.form.queryHelp'}">
            </div>
          </div>

					<div class="form-group">
						<!-- TOPOLOGY'S UPDATE -->
						<label for="update" class="col-lg-1 col-md-2 col-sm-2 col-xs-12 control-label">&{'Topologies.form.update'}</label>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 input-group date" id="updateDate">
							<input type="text" class="form-control" id="updated"
								name="updated" placeholder="yyyy-mm-dd" value="${params.get("updated")}">
							<span class="input-group-addon"> <span id="topologies-span-updated" class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
                        <!-- TOPOLOGY'S DESCRIPTION -->
            <label for="description"
              class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Topologies.form.description'}</label>
            <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
              <input type="text" class="form-control" id="description"
                name="description" value="${params.get("description")}">
            </div>
					</div>

					<div class="form-group">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12"></div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<button id="topologies-button-search" type="submit"
								class="btn btn-primary btn-inline">&{'Topologies.btn.search'}</button>
						</div>
					</div>
       #{/form}
      </div>
    </div>
  </div>
</div>
#{/if}
  
<div class="sinf-pagination">
%{
  Map<String, String[]> params = new HashMap<String, String[]>();
  for (Map.Entry<String, String[]> param : request.params.all()) {
    if (!Arrays.asList(controllers.Modules.AVOIDED_PAGINATION_PARAMS).contains(param.getKey())) {
      params.put(param.getKey(), param.getValue());
    }
  }
}%
#{common.pagination url: request.action, params: params, currentPage: page, total: totalTopologies, pageSize: models.SinfonierConstants.Topology.TOPOLOGY_MAX_RESULTS_PAGE /}

<div id="topologies" class="row">
#{list items:topologies, as:'topology'}
    #{topologies._topology topology:topology, wc:controllers.WebController/}
  #{/list}
</div>

<div class="sinf-pagination">
#{common.pagination url: request.action, params: params, currentPage: page, total: totalTopologies, pageSize: models.SinfonierConstants.Topology.TOPOLOGY_MAX_RESULTS_PAGE /}
</div>
#{i18n /}
#{set 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/vendor/moment/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/public/javascripts/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

    #{script 'topologies.js'/}

<script>
  $(document).ready(function () {
    $('#updateDate').datetimepicker({
      locale: $('html').attr('lang'),
      format: 'YYYY-MM-DD',
      showClose: true
    });

      var topologiesIds = [];
      #{list items:topologies, as:'topology'}
        topologiesIds.push('#topology-${topology?.getId()}');
      #{/list}

    $(topologiesIds.toString()).each(function () {
      var _id = $(this).attr('id').split('-')[1];
      var _size = ($(this).height() - 10) + 'px';

      $(this)
          .find('#form-' + _id + '-launch')
          .click(function () {
            $('#panel-' + _id)
                .height(_size)
                .show();

            $('#panel-' + _id)
                .find('.img-loading')
                .css('margin-top', Math.round(parseInt(_size.substr(0, _size.length - 2), 10) / 2) - 35);
          });
    });

  });
</script>
#{/set}
