#{extends 'Layouts/darwin-control-panel-layout.html' /}
#{set 'title'} ${topology?.getName()} #{/set}
#{set 'moreStyles'}
    #{stylesheet 'topologies.css' /}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css" integrity="sha384-Bq1wXRbQ8E+UZevo8qy87YMNttTKWJolQPWE35WXcbmSBLQ07MIVSLLzN6U+ynCj" crossorigin="anonymous">
#{/set}

<div class="row form-group">
  <div class="col-lg-12">
    <h1 id="topology-h1-title">&{'Topologies.topology'} '${topology?.getName()}'</h1>
  </div>
</div>

<div class="row">
#{topologies._topology topology:topology, size:"large", vote:true, wc:controllers.WebController/}
</div>

#{i18n /}
#{set 'moreScripts'}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js" integrity="sha384-UGk/0EpW+1yRjMG6fGOlffr+8oqC3i1Emvl+gI7bYu6yM0GEHdbU2YZcuPfXLksf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js" integrity="sha384-HpkS83c/Act8anQUmwtXWIJ3bZGVZNWMTo10lp+qCNLSRKseSYXNCqTiJeJ4Atg+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-java.min.js" integrity="sha384-fM7KRIsq3/PfwvUIf0EjYXzEbQTDP5yy3QwvUyjskYXKXn4INl8C5wH1ZmLfQdOW" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-python.min.js" integrity="sha384-7p460a4e4QtI6AbcXII9zbR9EDjYLplga5GgXtaJn0HDccLOSWGrwNCWTz1SmTv7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.12/tinymce.min.js" integrity="sha384-ZxrpbnlQyl8bdgdWMa22gAovc7682ddI0BOCzt0T/ZZSZpc9wUUI/G8gididEx04" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.12/jquery.tinymce.min.js" integrity="sha384-EDZRBsrYLmL/XqhjfGza0nQx6+QrN47dRbKGceMVvJNSjC60LyXaQ5E/bfHnilA1" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.12/plugins/codesample/plugin.min.js" integrity="sha384-aX4VJzCyDh22WXau1OlFBkWarub47mfTMMcmf6RYQmZbn5d6Hkbv4i0GUcwkxfD0" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.12/plugins/autoresize/plugin.min.js" integrity="sha384-tpRcXyp0cIPWyyNmRwM+b+fqDJNyaVoN/MvPcuPIxsNFbLDPziJDdTaJAiozfmM9" crossorigin="anonymous"></script>

    #{script 'util/code.js'/}
    #{script 'topologies.js'/}

<script>
  var _id = '${topology.getId()}';
  var _element = $('#topology-${topology?.getId()}');
  var _size = (_element.height() - 10) + 'px';
  _element
      .find('#form-' + _id + '-launch')
      .click(function () {
        $('#panel-' + _id)
            .height(_size)
            .show();

        $('#panel-' + _id)
            .find('.img-loading')
            .css('margin-top', Math.round(parseInt(_size.substr(0, _size.length - 2), 10) / 2) - 35);
      });
</script>
#{/set}

