#{extends 'Layouts/darwin-control-panel-layout.html' /}
#{set 'title'} &{'Profile'} #{/set}
<h2 class="page-title">&{'Profile'}</h2>

#{ifErrors }
<div class="row">
  <div class="col-lg-12">
    #{errors }
      <div id="profile-div-error" class="alert alert-danger alert-dismissible" role="alert">
        <button id="profile-button-errorClose" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      ${error}
      </div>
    #{/errors}
  </div>
</div>
#{/ifErrors}

#{form @ProfileSinfonier.save(user.getEmail()), class:"form-horizontal"}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label for="name" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.name'} *</label>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <input id="name" name="name" type="text" class="form-control" value="${user.getName()}" required/>
        </div>
  	  </div>
    
      <div class="form-group">
          <label for="email" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.email'}</label>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
            <input id="email" name="email" type="text" class="form-control" value="${user.getEmail()}" readonly/>
          </div>
      </div>

      <div class="form-group">
          <label for="preferredLang" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.preferredLang'}</label>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">          
            #{select 'preferredLang', id:'preferredLang', class:'form-control'}
              #{list controllers.WebController.getSupportedLanguages(), as:'supportedLang'}
                <option value="${supportedLang}" #{if user.getPreferredLang().equals(supportedLang)}selected#{/if} >
                &{'Languages.' + supportedLang}</option>
              #{/list}
            #{/select}
          </div>
      </div>
      
      <div class="form-group">
        <label for="twitter" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.twitter'}</label>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <input id="twitter" name="twitter" type="text" class="form-control" pattern="^@?(\w){1,15}$"  value="${user.getImplementation().getTwitter()}" />
        </div>
      </div>
      
      <div class="form-group">
        <label for="organization" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.organization'}</label>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <input id="organization" name="organization" type="text" class="form-control" value="${user.getImplementation().getOrganization()}" />
        </div>
      </div>
      
      <div class="form-group">
        <label for="timeZone" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.timeZone'}</label>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          #{select 'timeZone', id:'timeZone', class:'form-control'}
              #{list TimeZone.getAvailableIDs(), as:'timeZone'}
                <option value="${timeZone}" #{if user.getImplementation().getTimeZoneID()?.equals(timeZone)}selected#{/if} >
                ${utils.Utils.displayTimeZone(timeZone, user.getPreferredLang())}</option>
              #{/list}
            #{/select}
        </div>
      </div>
      
      <div class="form-group">
        <label for="web" class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">&{'Profile.web'}</label>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
          <input id="web" name="web" type="url" class="form-control" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" value="${user.getImplementation().getWeb()}" />
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-12">
          <button id="profile-button-save" class="btn-bezel danger" type="submit">&{'Profile.saveAccount'}</button>
        </div>
  	</div>    
    </div>
  </div>
#{/form}
