<script type="text/javascript">
    RED.nodes.registerType('${_module.getFullName().escapeJavaScript()}',{
        category: getCategory('${_module.getType()}'),
        color: getColor('${_module.getType()}'),
        defaults: {
        	#{list _module.getVersion().getFields(), as:'field'}
        	  "${field.getName()}" : { 
        	    "value" :""
        	    ,"required" : ${field.isRequired()}
        	    }${field_isLast ? '' : ','}
        	#{/list}
        },
        inputs: getInputs('${_module.getType()}'),
        outputs: getOutputs('${_module.getType()}'),
        icon: getIcon('${_module.getType()}'),
        label: function() {
        	return '${_module.getFullName().escapeJavaScript()}';
        }
    });
</script>