<div class="row">
    <div class="col-xs-6">
        <h1>Roles</h1>
    </div>
    <div class="col-xs-6">
        <a class="submit pull-right" data-toggle="collapse" href="#newRoleCollapse" aria-expanded="false" aria-controls="newRoleCollapse">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
<div class="spacer"></div>
#{if (flash.get("forbiddenEditAdminRole"))}
    <div class="has-error">
        <label class="control-label">${flash.get("forbiddenEditAdminRole")}</label>
    </div>
#{/if}
#{ifErrors}
    <div class="has-error">
        <label class="control-label">${errors[0]}</label>
    </div>
#{/ifErrors}
<div class="collapse" id="newRoleCollapse">
    <div class="role">
        <div class="row">
        	<div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        #{form @Admin.editRole(), class:'form-inline'}
                            <div class="form-container">
                                <div class="form-group">
                                    <div class="input-icon max-with-default">
                                        <i class="fa fa-tag"></i>
                                        <input class="form-control" type="text" value="${flash.name}" placeholder="&{'Roles.index.form.name'}" name="name">
                                    </div>
                                </div>
                                #{list items:permissions, as:'permission'}
                                <div class="check-tag checkbox-inline">
                                    <input id="${permission + permission_index}" type="checkbox" name="permissions" value="${permission}"/>
                                    <label for="${permission + permission_index}">${permission}</label>
                                </div>
                                #{/list}
                                <div class="form-actions">
                                    <button type="submit" class="btn-bezel primary m-b-0 m-r-5"> <i class="material-icons">add</i></button>
                                </div>
                            </div>
                        #{/form}
                    </div>
                </div>
                
        	</div>
        </div>
    </div>
</div>

#{list items:roles, as:'role'}
    <div class="role">
        <div class="row">
            <div class="col-xs-12">
                #{form @Admin.editRole(), class:'form-inline'}
                <div class="form-container">
                    <div class="row">
                    <div class="col-xs-3">
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-tag"></i>
                            <input class="form-control" type="text" value="${role.getName()}" placeholder="&{'Roles.index.form.name'}" name="name" #{if models.Constants.UserRole.specialRole.containsKey(role.getId())} readonly #{/if}>
                        </div>
                    </div>
                    </div>
                    <div class="col-xs-7">
                     #{list items:permissions, as:'permission'}
                    <div class="check-tag checkbox-inline">
                        <input id="${role.id + permission + permission_index}" type="checkbox" name="permissions" value="${permission}" #{if role.hasPermission(permission)} checked #{/if}/>
                        <label for="${role.id + permission + permission_index}">${permission}</label>
                    </div>
                    #{/list}   
                    </div>
                    <div class="col-xs-2">
                    <input type="hidden" name="roleId" value="${role.getId()}">
                    <div class="form-actions">
                        <a class="btn-bezel danger m-b-0" data-toggle="modal" href="#${role.getId()}RemoveModal" title="&{'Roles.index.modal.deleteRole'}"><i class="material-icons">clear</i></a>
                        <button type="submit" class="btn-bezel primary m-b-0 m-r-5"><i class="material-icons">edit</i></button>
                    </div>
                    </div>
                    </div>
                    <hr>
                </div>
                #{/form}
            </div>
        </div>
    </div>
    <!-- BEGIN REMOVE MODAL -->
    <div class="modal fade" id="${role.getId()}RemoveModal" tabindex="-1" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">&{'Roles.index.modal.deleteRole'}</h3>
                </div>
                <div class="modal-body text-center">
                    #{form @Admin.deleteRole()}
                        <h5 class="overflow-hidden">&{'Roles.index.modal.deleteConfirmation'} <em>"${role.getName()}"</em>?</h5>
                        <input type="hidden" name="roleId" value="${role.getId()}">
                        <button type="submit" class="submit">&{'Roles.index.modal.deleteConfirm'}</button>
                    #{/form}
                </div>
            </div>
        </div>
    </div>
    <!-- END REMOVE  MODAL -->
#{/list}
