#{extends 'DarwinMailer/mailLayout.html' /}
#{set 'subject'}Reset password#{/set}

<h3>Dear ${user.getName()},</h3>
<p>Someone (probably you) has requested to reset the password associated to your ${appName} account.</p>
<p>To proceed with the reset, click on the link below. The link will be valid for 24h.</p>
<a href="${baseUrl}/reset/${token}" target="_blank" style="text-align:center;">Click here to  reset your password</a></p>
<p>If you have problems following that link, just go to<a href="${baseUrl}/reset"> ${baseUrl}/reset</a> and type in your activation code:</p>
<p>${token}</p>
<p>If you didn't request your password to be reset, just ignore this message, but be aware that someone might be trying to access your account.</p>
<p>Regards.<br/>The ${appName} team</p>
