#{stylesheet 'basic.css' /}
#{form @PublicContentSinfonier.processRequestPasswordResetSinfonier(), id:'resetPasswordForm'}
    <h2 class="justify_left">&{'Public.requestPasswordReset.title'}</h2>
    <p>&{'Public.requestPasswordReset.instructions'}</p>
    <p>&{'Public.processRequestPasswordReset.signOut'}</p><br>
    #{ifErrors}
        <div class="error">
            ${errors[0]}
        </div>
    #{/ifErrors}
    <div class="form-group">
        <div class="input-icon">
            <i class="fa fa-envelope"></i> <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="&{'Public.processRequestPasswordReset.email'}"
                name="email" id="email" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-actions">
                <button type="submit" class="btn-bezel btn-primary pull-right">
                    &{'Public.processRequestPasswordReset.button'} <i class="material-icons">forward</i>
                </button>
            </div>
        </div>
    </div>
#{/form}
