#{extends 'DarwinMailer/mailLayout.html' /}
#{set 'subject'}Cambio de contraseña#{/set}

<h3>Hola ${user.getName()},</h3>
<p>Alguien (probablemente tú) ha solicitado cambiar la contraseña asociada a tu cuenta de ${appName}.</p>
<p>Para cambiar tu contraseña pincha en el siguiente enlace. Este enlace será válido durante 24h.</p>
<a href="${baseUrl}/reset/${token}" target="_blank" style="text-align:center;">Pincha aqui para cambiar tu contraseña</a></p>
<p>Si tienes problemas para cambiar tu contraseña pincha en <a href="${baseUrl}/reset"> ${baseUrl}/reset</a>  y escribe el siguiente código:</p>
<p>${token}</p>
<p>Si no has solicitado un cambio de contraseña ignora este mensaje.</p>
<p>Saludos.<br/>El equipo de ${appName}.</p>
