#{extends 'Layouts/darwin-control-panel-layout.html' /}
#{set 'title'} &{'Dashboard.index.title'} #{/set}
#{set 'moreStyles'}
    #{stylesheet 'modules.css' /}
#{/set}

<section>
  <div class="row">
    <div class="col-lg-12 align-center">
      <h3 id="dashboard-h3-topologiesCount">&{'Dashboard.index.topologies', dashboard.getTopologiesCount()}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 align-center">
      <div id="gauge"></div>
    </div>
  </div>
</section>

<section>
  <!-- Title -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-12 align-center">
      <h3 id="dashboard-h3-modulesCount">&{'Dashboard.index.modules', dashboard.getModulesCount()}</h3>
    </div>
  </div>

  <!-- Modules -->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>
        <small>&{'Dashboard.index.topRated'}</small>
      </h3>
    #{list dashboard.getTopRateModules(), as:'module'}
        #{modules._module module:module, version:module.lastModuleVersion(), size:'small'/}
    #{/list}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>
        <small>&{'Dashboard.index.topUsed'}</small>
      </h3>
    #{list dashboard.getTopUsedModules(), as:'module'}
        #{modules._module module:module, version:module.lastModuleVersion(), size:'small'/}
    #{/list}
    </div>
  </div>

</section>

#{set 'moreScripts'}
    #{script 'vendor/justgage/raphael.2.2.1.min.js'/}
    #{script 'vendor/justgage/justgage.1.2.2.min.js'/}

<script>
  // The next line patched a bug in Raphael.js
  window.eve = Raphael.eve;
  var runningTopologies = parseInt("${dashboard.getRunningTopologiesCount()}", 10) || 0;
  new JustGage({
    id: 'gauge',
    value: runningTopologies,
    min: 0,
    max: 10,
    title: "&{'Dashboard.index.running_topologies'}",
    relativeGaugeSize: true
  });
</script>
#{/set}