html, body {
  background: url('../images/sinfonier-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'TelefonicaWebRegular' !important;
}

.login .content {
    margin: 10px auto !important;
}

.login form > .checkbox a {
  margin-top: -3px;
}

.btn-bezel.btn-primary,
.btn-primary {
    background-color: #1F74BA;
    background-image: none !important;
    transition: background 1s;
}

.btn-bezel.btn-primary:hover,
.btn-primary:hover {
    background: #3F96DE;
    transition: background 1s;
}

.btn-bezel span,
.btn-bezel i.material-icons {
    line-height: 1;
}

.login .logo {
    margin-left: -30px;
}

.login .logo-with-oauth {
  margin-top: -30px;
  margin-left: -30px;
  text-align: center;
}

.login-bg .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 40px;
    padding-bottom: 10px;
    vertical-align: middle;
    opacity: .4;
    font-family: "TelefonicaWebLight";
}

.login-bg .footer {
    padding: 20px 40px;
    max-width: 100%;
}

.login-bg .footer .logo1 {
    width: 155px;
    opacity: .35;
}

.login-bg .footer .logo2 {
    opacity: .35;
    width: 200px;
}

.login-bg .footer .copy {
  display: block;
  color: #fff;
  padding-top: 5px;
}

.oauth-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}