<!DOCTYPE html>
<html lang="${controllers.Drawers.getLanguage()}">
<head>
  <title>#{get 'title' /}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
  <meta name="MobileOptimized" content="320">
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/plugins/bootstrap/css/bootstrap.min.css'}"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jqc-1.12.3/dt-1.10.12/datatables.min.css" integrity="sha384-eWbL+yhR32bGCr6xKdcoFshO3i98GYadBJ+rK4DT8ec7lo+ZUmh9K4FT4+qOB6e2" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/plugins/font-awesome/css/font-awesome.min.css'}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/plugins/bootstrap-select/dist/css/bootstrap-select.css'}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/darwin-control-panel.css'}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/font.css'}"/>
  <link rel="shortcut icon" type="image/png" href="/public/images/favicon.ico">

#{stylesheet 'basic.css' /}
#{stylesheet 'main.css' /}
#{get 'moreStyles'/}
  <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/sinfonier-control-panel-layout.css'}"/>
</head>
<body class="control-panel">

#{include 'Layouts/darwin-control-panel-header.html' /}

<div class="control-panel-content">
#{include 'Menu/layout.html' /}
  <div class="control-panel-page">
    <div class="container-fluid">
    #{doLayout /}
    </div>
  </div>
</div>

<script type="text/javascript" src="@{'/public/javascripts/jquery-3.1.1.min.js'}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jqc-1.12.3/dt-1.10.12/datatables.min.js"></script>
<script type="text/javascript" src="@{'/public/plugins/bootstrap/js/bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'/public/plugins/bootstrap-select/js/bootstrap-select.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/input-loading.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/js.cookie.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/latch-alert.js'}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.7.2/jquery.serializejson.min.js"
        integrity="sha384-YG2zqCfbBdkcLkGgT1npBGmQqqLOaeQ3iHjrtWfwfRBCxBlqWFl3w8URhLyK+rC3" crossorigin="anonymous"></script>

#{changelog.alert /}

<div class="footer">
  <div class="row">
    <div class="col-xs-3">
      <img src="@{'/public/images/elevenpaths.png'}" alt="Eleven Paths Logo" class="logo1">
    </div>
    <div class="col-xs-6 text-center">
      <div class="copy">2016 © Telefónica Digital España S.L.U. &{'UserArea.rights'}.</div>
    </div>
    <div class="col-xs-3 text-right">
      <img src="@{'/public/images/telefonica.png'}" alt="Telefonica Logo" class="logo2">
    </div>
  </div>
</div>

#{get 'moreScripts'/}
<script type="text/javascript" language="javascript" src="/public/plugins/radiocheck.js"></script>
<script>
  function calcMenuHeight() {
    var menuHeight = $('.menu').height(),
        crtlPanelHeight = $('.control-panel-page').height();
    if (menuHeight > crtlPanelHeight) {
      $('.control-panel-page').css('min-height', menuHeight + 50);
    }
  }
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
    calcMenuHeight();
  });
</script>
</body>
</html>
